<div class="navbar">
    <div class="navbar-left">
        <button class="menu-toggle">☰</button>
        <a href="{{ url_for('main.index') }}" class="app-title">DAILY</a>
    </div>
    <div class="navbar-right">
        <button class="settings-btn" id="user-menu-toggle"> 🙎🏻‍♂️ {{ user.username }} </button>
        <button class="settings-btn" id="settings-btn">⚙️</button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.querySelector('.menu-toggle');
            const sidebar = document.querySelector('.sidebar');

            if (menuToggle && sidebar) {
                menuToggle.addEventListener('click', () => {
                    sidebar.classList.toggle('hidden');
                });
            }
            const userMenuToggle = document.getElementById('user-menu-toggle');
            if (userMenuToggle) {
                userMenuToggle.style.cursor = 'pointer'; // 클릭 가능하도록 커서 변경
                userMenuToggle.addEventListener('click', () => {
                    if (confirm('로그아웃 하시겠습니까?')) {
                        window.location.href = "{{ url_for('main.auth.logout') }}";
                    }
                });
            }

            const settingsBtn = document.getElementById('settings-btn');
            if (settingsBtn) {
                settingsBtn.addEventListener('click', () => {
                    window.location.href = "{{ url_for('main.setting.setting_page') }}";
                });
            }
        });
    </script>
</div>
