<div class="sidebar">
    <h2>Projects</h2>
    <ul class="project-list">
        <li>
            <a href="#">
                <span>Project Alpha</span>
                <span class="progress-tag done">Done</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Project Beta</span>
                <span class="progress-tag in-progress">62%</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Project Gamma</span>
                <span class="progress-tag in-progress">30%</span>
            </a>
        </li>
    </ul>
</div>
